* {
    --main-color: #242588;
}
.topbar{
    margin-top: 20px;
    background-color:#2425880F ;
    height: 65px;
}
.topbar .navbar-header{
    height: 65px;
}
.topbar .navbar-header .topbar-item h4{
    color: #000;
}
.wrapper .main-nav {
    background-color: var(--main-color);
}

.wrapper .main-nav .navbar-nav .nav-item .nav-link {
    color: #fff;
    margin: 0 20px;
    padding: 12px;
}

.wrapper .main-nav .navbar-nav .nav-item .nav-link.active,
.wrapper .main-nav .navbar-nav .nav-item .nav-link:hover {
    background: #fff;
    color: var(--main-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;

}

.wrapper .main-nav .navbar-nav .nav-item .nav-link.active .nav-icon {
    color: var(--main-color);
}

.wrapper .main-nav .navbar-nav .nav-item .nav-link .nav-icon {
    font-size: 16px;
}

.wrapper .main-nav .navbar-nav .nav-item {
    margin: 10px 0;
}

/************ Start Main Dashboard  ************/
.main-statistics {
    background-color: #EDEEF5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.main-statistics h5 {
    color: #000;
}

.main-statistics h5 span {
    color: #7A7A7A;
    font-weight: normal;
    font-size: 12px;
}

.main-statistics .stat-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.main-statistics .stat-details .info {
    padding: 10px;
    width: 100%;
    margin: 7px;
    border-radius: 10px;
}

.main-statistics .stat-details .info i {
    color: #fff;
    width: 30px;
    border-radius: 23px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
}

.main-statistics .stat-details .info h4 {
    margin-top: 17px;
    color: #000;
}

.main-statistics .stat-details .info p {
    margin-bottom: 0;
}

/************ End Main Dashboard  ************/

/************ Start Empty Data ************/
.empty-data{
    text-align: center;
    margin: auto;
}
.empty-data .empty-image img{
    max-width: 250px;
}
.empty-data .empty-info{
    margin-top: 30px;
}
.empty-data .empty-info p{
    margin-top: 20px;
}
.table-primary-custome th{
    background-color: var(--main-color);
    color: #fff;
}
/************ End Empty Data *************/

.color-success{
    color: #21C55D;
    border: none;
    background: transparent;
}
.color-danger{
    color: #FF0000;
    border: none;
    background: transparent;
}
/************ Start Order Tabs ***********/

.orders-tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 10px;
}
.orders-tabs li{}
.orders-tabs li a{
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.orders-tabs li .all{
    color: var(--main-color)
}
.orders-tabs li .all.active,
.orders-tabs li .all:hover{
    background-color: var(--main-color);
    color: #fff;
}
.orders-tabs li .complete{
    color: #22AB00;
}
.orders-tabs li .complete.active,
.orders-tabs li .complete:hover{
    background-color: #22AB00;
    color: #fff;
}
.orders-tabs li .pending{
    color: #2D9CDB
}
.orders-tabs li .pending.active,
.orders-tabs li .pending:hover{
    background-color: #2D9CDB;
    color: #fff;
}
.orders-tabs li .inprogress{
    color: #0CBE83
}
.orders-tabs li .inprogress.active,
.orders-tabs li .inprogress:hover{
    background-color: #0CBE83;
    color: #fff;
}
.orders-tabs li .partial{
    color: #0057A0
}
.orders-tabs li .partial.active,
.orders-tabs li .partial:hover{
    background-color: #0057A0;
    color: #fff;
}
.orders-tabs li .processing{
    color: #884DFF
}
.orders-tabs li .processing.active,
.orders-tabs li .processing:hover{
    background-color: #884DFF;
    color: #fff;
}
.orders-tabs li .cancelled{
    color: #EF2B1F
}
.orders-tabs li .cancelled.active,
.orders-tabs li .cancelled:hover{
    background-color: #EF2B1F;
    color: #fff;
}
/************ End Order Tabs ***********/

td span.badge{
    padding: 10px 20px;
    border-radius: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: #fff !important;
}
.form-label{
    color: #000;
}
.btn-submit,
.btn-submit:hover{
    background-color: var(--main-color);
    color: #fff;
    border-radius: 3px;
    width: 100%;
    font-weight: bold;
}
.btn-return,
.btn-return:hover{
    background-color:#EF2B1F;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    font-weight: bold;
}
.btn-ban,
.btn-ban:hover{
    background-color: #EF2B1F;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.5;
    cursor: not-allowed;
}
.btn-ban.active{
    background-color: #EF2B1F;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 1;
    cursor: pointer;
}
.btn-unban,
.btn-unban:hover{
    background-color: #22AB00 !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.5;
    cursor: not-allowed;
}
.btn-unban.active{
    background-color: #22AB00 !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 1;
    cursor: pointer;
}

.person_info{
    text-align: center;
    margin: auto;
}

.person_info img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.person_info h4{
    color: #2D2D2D;
}
.person_info p{
    color: #2D2D2D;
    line-height: 2;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
}
.modal-footer button{
  width: 48%;
  border-radius: 2px;
}
.modal-footer .btn-primary{
    background-color: var(--main-color);
}

.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 3px;
    padding: 8px 20px;
}
.btn-primary:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
